@media screen and (min-width: 1px) and (max-width: 1023px) {

   .hero__grid{
     flex-direction: column-reverse;
   } 
   .right1{
     width: 100vw;
     height: 100vw;
   } 
   .left{
     width: 100vw;
   }
   .moon-tile{
     width: 50vw;
     height:30vw;
   }
   .frame-tile{
     width: 50vw;
     height:30vw;
   }
.logo-block{
     width: 100vw;
     height:30vw;
   }
     .logo-block__frame{
     width: 60vw;
     height:20vw;
   }
   .logo-block__logo{
     width: 40vw;
     height:15vw;
   }
   .bottom-row{
     width: 100vw;
     height:30vw;
   }
   .scribble-tile{
     width: 50vw;
     height:30vw;
   }
.scribble-tile__frame{
     width: 50vw;
     height:30vw;
   }
   .scribble-image{
     width: 50vw;
     height:43vw;
   }
   .icon-marquee{
     width: 50vw;
     height:30vw;
   }
   .icon-marquee__icon{
     width: 20vw;
     height:20vw;
   }
   .hero--second .hero__grid{
     flex-direction: column;
   }
   .hero--second .hero__grid .left{
     width: 100vw;
     height: 70vw;
   }
   .line-1-2, .line-2-2, .line-3-2{
     width: 100vw;
     height: 70vw;
   }

   .bird-center{
     width: 70vw;
     height: 30vw;
   }
   .center2-top{
     width: 35vw;
     height: 35vw;
     margin-left: 5vw;
   }
   .flipbird{
     width: 35vw;
     height: 35vw;
     margin-left: 5vw;
   }
}