/* БЕГУЩАЯ СТРОКА */
.marquee__track{
  will-change: transform;
  animation: marquee 16s linear infinite;
}

@keyframes marquee{
  0%{ transform: translateX(0); }
  100%{ transform: translateX(-50%); }
}
@media (prefers-reduced-motion: reduce){
  .marquee__track{ animation: none; }
}
/* КРУГИ */
.circle-wrap:not(:first-child){
  margin-left: -7vw;
  animation: circlesOffset 1s ease-in-out infinite alternate;
}
@keyframes circlesOffset{
  from{
    margin-left: -7vw;
  }
  to{
    margin-left: -5.8vw;
  }
}
.left-top-circle-1:hover .circle-wrap:not(:first-child){
  animation-play-state: paused;
}
/* НОТКИ */

/* кадр 1 */
.note-1{
  animation: frame1 1s steps(1) infinite;
}
/* кадр 2 */
.note-2{
  animation: frame2 1s steps(1) infinite;
}

@keyframes frame1{
  0%   { opacity: 1; }
  49%  { opacity: 1; }
  50%  { opacity: 0; }
  100% { opacity: 0; }
}

@keyframes frame2{
  0%   { opacity: 0; }
  49%  { opacity: 0; }
  50%  { opacity: 1; }
  100% { opacity: 1; }
}
.left-top-note-1:hover .note-1,
.left-top-note-1:hover .note-2{
  animation-play-state: paused;
}
/* ЛОГОТИП */
.logo-box{
  animation: logoPulse 0.8s ease-in-out infinite alternate;
}

@keyframes logoPulse{
  from{
    width: 35vw;
    height: 12vw;
  }
  to{
    width: 36vw;
    height: 13vw;
  }
}