/* БЕГУЩАЯ СТРОКА */
.marquee__track{
  will-change: transform;
  animation: marquee 16s linear infinite;
}

@keyframes marquee{
  0%{ transform: translateX(0); }
  100%{ transform: translateX(-50%); }
}
@media (prefers-reduced-motion: reduce){
  .marquee__track{ animation: none; }
}

/*  ФИОЛЕТОВАЯ ПЛАШКА С КРУГАМИ  */
.moon-tile__track{
  display: flex;
  align-items: center;
  will-change: transform;

  animation: moons-loop 8s linear infinite;
}

/* ПЛАВНЫЙ, БЕСШОВНЫЙ LOOP */
@keyframes moons-loop{
  from{
    transform: translateX(0);
  }
  to{
    transform: translateX(-50%);
  }
}

/* accessibility */
@media (prefers-reduced-motion: reduce){
  .moon-tile__track{
    animation: none;
  }
}
/* FRAME TILE (364x164) */
.frame-tile__frame{
  opacity: 0;
  animation: frameSwap 1s steps(1, end) infinite;
  will-change: opacity;
}

/* 1-й кадр виден в первой половине */
.frame-1{
  animation-delay: 0s;
}

/* 2-й кадр смещаем на половину времени */
.frame-2{
  animation-delay: -0.5s; /* -(duration/2) */
}

@keyframes frameSwap{
  0%{ opacity: 1; }
  50%{ opacity: 1; }
  50.001%{ opacity: 0; }
  100%{ opacity: 0; }
}

/* ===== INNER FRAME: 507x160 (pulse 5px -> 20px -> 5px) ===== */
.logo-block__frame{
  width: 35.2083vw;   /* 507/1440 */
  height: 11.1111vw;  /* 160/1440 */

  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  outline: 0.3472vw solid #D9EE61; /* 5px */
  outline-offset: 0;

  animation: logoFramePulse 1s ease-in-out infinite;
  will-change: outline-width;
  pointer-events: none;
}

@keyframes logoFramePulse{
  0%   { outline-width: 0.3472vw; }  /* 5px */
  50%  { outline-width: 1.3889vw; }  /* 20px */
  100% { outline-width: 0.3472vw; }  /* 5px */
}
/* ===== SCRIBBLE HOVER MOVE (NO JS) ===== */
.scribble-tile:hover .scribble-image{
  transform:
    translate3d(1.1vw, -0.8vw, 0);
}

/* доступность */
@media (prefers-reduced-motion: reduce){
  .scribble-image{
    transition: none;
  }
}
.icon-marquee__track{
  will-change: transform;
  animation: iconRun 4s linear infinite;
}

@keyframes iconRun{
  from{ transform: translateX(0); }
  to{ transform: translateX(-50%); }
}

.icon-marquee:hover .icon-marquee__track{
  animation-play-state: paused;
}

@media (prefers-reduced-motion: reduce){
  .icon-marquee__track{ animation: none; }
}


@keyframes star-swing {
  0% {
    transform: rotate(-12deg);
  }
  50% {
    transform: rotate(12deg);
  }
  100% {
    transform: rotate(-12deg);
  }
}
.star{
  animation: star-swing 1s ease-in-out infinite;
  transform-origin: 50% 50%; /* вращение из центра */
}