body {
  font-family: 'Montserrat', sans-serif;
  background:#0A0A0A;
}

:root{
  --lime: #D9EE61;
  --purple: #6552D0;
  --black: #0A0A0A;
}

.stroke{
  width: 100vw;
  overflow: hidden;
}
/* БЕГУЩАЯ СТРОКА */
.marquee{
  width: 100vw;
  overflow: hidden;
  display: flex;
  align-items: center;

  --h: 5.8vw;       
  --font: 2.7vw;    
  --gap: 1.3vw;     

  height: var(--h);
  background: #D9EE61;
}

.marquee__track{
  display: flex;
  gap: var(--gap);
  white-space: nowrap;
  padding-left: var(--gap); 
}

.marquee__track span{
  flex: 0 0 auto;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;           
  font-size: 2.7vw;
  color: #6552D0;
  text-transform: uppercase;
  letter-spacing: 0.04em;
}

/* ЭКРАН 1 */
.screen-1{
  width: 100%;
  height: 50vw;          
  display: flex;         
}

.left-1, .right-1{
  width: 50vw;
  height: 100%;
  position: relative;
}

.left-1{ background:#b02424; }
.right-1{ background:#52d51a; }

/* чтобы alt/иконки не ломали верстку, пока нет картинок */
.right-1 img{
  display: block;
}
/* ЛЕВАЯ ВЕРХНЯЯ ЧАСТЬ ПЕРВОГО ЭКРАНА */
.left-top-1{
  width: 50vw;
  height: 12vw;          
  display: flex;         
}
/* Круги */
.left-top-circle-1{
  width: 25vw;
  height: 12vw;
  background:var(--purple);  
  display: flex;
  align-items: center;    
}
.circle-wrap{
  position: relative;
}
.circle-wrap img{
  width: 9vw;
  height: 9vw;
}
.circle-wrap:not(:first-child){
  margin-left: -7vw;
}
.circle-wrap:nth-child(1){ z-index: 1; }
.circle-wrap:nth-child(2){ z-index: 2; }
.circle-wrap:nth-child(3){ z-index: 3; }
.circle-wrap:nth-child(4){ z-index: 4; }
.circle-wrap:nth-child(5){ z-index: 5; }
.circle-wrap:nth-child(6){ z-index: 6; }

/* Ноты */
.left-top-note-1{
  width: 25vw;
  height: 12vw;
  background: var(--purple);
  position: relative;
  overflow: hidden;
}

.note-1,
.note-2{
  position: absolute;   
  inset: 0;
  width: 100%;
  height: 100%;
}

.note-1 img,
.note-2 img{
  width: 100%;
  height: 100%;
  display: block;
}

.note-1{
  z-index: 2; 
}
.note-2{
  z-index: 1; 
}
/* лого-середина */
.left-center-1{
  width: 50vw;
  height: 22vw;
  background: var(--purple);
  overflow: hidden;
  display: flex;
  align-items: center;    
  justify-content: center;
}
.logo-left img{
  display: block;
  height: 11vw;
  width: 35vw;
}
.logo-box{
  width: 35vw;
  height: 12vw;
  background: var(--lime);
  display: flex;
  align-items: center;
  justify-content: center;
}

